<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>


<div>compteur parent : {{compteur}}</div>

<div [align]="alignement" [ngStyle]="{color: color}">Personne : {{person.prenom }} {{person.nom}}| Age : {{age}} |
  Adresse : {{address.street}}
</div>


<comp1 [monAddress]="address"></comp1>


<div>

  <button class="btn btn-primary" (click)="modifierPersonne()"> update person</button>
</div>
<div>
  <h1>Event binding - Compteur</h1>
  <div>
    <comp2 (counterChange)="myValueChange($event)"></comp2>
  </div>
  <br/>
  <div>Valeur récupérée : {{compteur}}</div>
</div>
<hr>
<h1>data binding</h1>

====={{maTaille}}
<div>
  <input type="text" [(ngModel)]="person.nom"  />
</div>
  <hr>
  <ma-taille resizeElement [taille]="maTaille"></ma-taille>
  <ma-taille [(taille)]="maTaille"></ma-taille>

  ii<button  (click)="child()" >child</button>iii
  <hr>
<hr>
========================== person 1=============================
<hr>

  <person></person>

<hr>
========================== person 2=============================
<table *ngFor="let character of characters; let c =count ">
    {{c}}
</table>
================================================= personnage preferee=======================
<h1 *ngIf="disable">
  votre personnage prefere est :  {{theBest.nom}} +' ' + {{theBest.prenom}}
</h1>
<div>
  <person [myperson]="character" [disable]="disable"
          *ngFor="let character of characters; let c =count "(onChoose)="isSelected($event)"> {{c}}</person>
</div>

<hr>
======================template de reference
<div>
  <person [myperson]="character" [disable]="disable"
          *ngFor="let character of characters; let c =count "(onChoose)="isSelected($event)" > {{c}}</person>
</div>
<hr>=================================les tabs
<tabs>
  <tab [tabTitle]="'tab 1'"> Tab 1 content</tab>
  <tab [tabTitle]="'tab 2'"> Tab 2 content</tab>
  <tab [tabTitle]="'tab 3'"> Tab 3 content</tab>
</tabs>
<hr>

